<!--disable data turbolink here that conflict with jquery ui -->

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script>
  $(function() {
    $( "#datepicker" ).datepicker({ dateFormat: 'yy-mm-dd'});
  });
</script>

<%= form_for(@booking) do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% @booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.hidden_field :user_id, :value => session[:user_id] %>
  </div> 

  <div class="field">
    <label>Recording Date</label><br>
    <input type="text" id="datepicker" name="booking[recording_date]"></p>
  </div>
  <div class="field">
    <%= f.label :recording_session_id %><br>
    <select id="session" name="booking[recording_session_id]">
      <option value="">Please select:</option>
      
    </select>
  </div>
  
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_field :comment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<script>
  $('#datepicker').change(function() {
        dateData = $('#datepicker').val();
        $('#session').empty();
        $.ajax({
          url : "/request_booking_data",
          type : "GET",
          data : {dateData : dateData},
          contentType : "application/json; charset=utf-8",
          dataType : "json",
          success : function(data, textStatus, jqXHR) {
            console.log(data);
            $.each(data.session,function(index, value){
                var s = value.start_time.substr(11, 5);
                var e = value.end_time.substr(11, 5);
                var r = "";
                $.each(data.room,function(i,v){
                      if(value.room_id == v.id){
                          r = v.room_name;
                          return false;
                      }
                    }
                  );
                $('#session').append($("<option></option>")
                    .attr("value",value.id)
                    .text(s + " - " + e + " - Room " + r));
              }
            );
          },
          error : function(jqXHR, textStatus, errorThrown) {
            alert("error");
            
          }
        });
      });
</script>