<p id="notice"><%= notice %></p>

<p>
  <strong>User Id:</strong>
  <%= @booking.user_id %>
</p>

<p>
  <strong>Recording Session Id:</strong>
  <%= @booking.recording_session_id %>
</p>

<p>
  <strong>Recording date:</strong>
  <%= @booking.recording_date %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @booking.comment %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
