<h1>Please login</h1>
<%= form_tag login_process_path, :method => "get" do |f| %>
  <div class="field">
    <%= label_tag "Contact Number" %><br>
    <%= text_field_tag "contact_number" %>
  </div>
  <div class="actions">
    <%= submit_tag "Login" %> <%= alert %>
  </div>
<% end %>

<%= link_to 'Back', home_index_path %>