
<p>
  <strong>Band name:</strong>
  <%= @user.band_name %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @user.contact_name %>
</p>

<p>
  <strong>Contact number:</strong>
  <%= @user.contact_number %>
</p>
<% session[:user_id] = @user.id %>
<%= link_to 'Back', home_index_path %> |
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Book a Session', new_booking_path(session[:user_id]), :"data-no-turbolink" => true %>

<div class="tbl">
	<h2>My Booking List</h2>
	<table>
		
		<thead>
			<th>Date</th>
			<th>Session</th>
			<th>Room</th>
			<th>Status</th>
			<th>Comment</th>
			<th>Action</th>
		</thead>	
		<tbody>
			<% Booking.where(:user_id =>  @user.id ).order('recording_date DESC').each do |b| %>
			<tr>
				<td><%= b.recording_date %></td>
				<td><%= b.recording_session.start_time.to_s(:time) + " - " + b.recording_session.end_time.to_s(:time) %></td>
				<td><%= b.recording_session.room.room_name %></td>
				<td><%= booking_status(b.recording_date) %></td>
				<td><%= b.comment %></td>
				<td><%= link_to "Cancel Booking", b, method: :delete, data: { confirm: 'Are you sure?' }%></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>
